:root {
  --primary-color: #3498db;
}

* {
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/* Start Header  */

/* Start nav bar Section  */

.navbarcss {
  padding: 10px 0;
  background: #fff;
  /* box-shadow: 0 0 8px 5px rgba(160, 160, 160, 0.2); */
}

.navbtncss {
  color: var(--bs-dark);
  opacity: 0.7;
}

.navbtncss:hover {
  color: var(--primary-color);
}

.pillbtncss {
  color: var(--bs-light);
  background-color: var(--primary-color);
  opacity: 0.9;

  transition: all 0.3s;
}

.pillbtncss:hover {
  color: var(--bs-light);
  opacity: 1;
}

.active {
  color: var(--primary-color);
}

/* End nav bar Section  */

/* Start Banner Section  */

.bannercss {
  margin-top: 300px;
}

.secpillcss {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.secpillcss:hover {
  color: var(--bs-light);
  background-color: var(--primary-color);
}

.herocss {
  animation: heroimgani 3s linear infinite;
}

@keyframes heroimgani {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@media (max-width: 576px) {
  .herocss {
    width: 300px;
  }
}
/* End Banner Section  */

/* End Header  */

/* Start client Area  */

#client {
  height: 20vh;
}

#client img {
  width: 100px;
  filter: grayscale(100%);
}

#client img:hover {
  filter: grayscale(0%);
}

@media (max-width: 576px) {
  #client img {
    width: 50px;
  }
}

/* End client Area  */

/* Start about us section */

.linecss {
  width: 60px;
  height: 2px;
  background-color: var(--primary-color);

  margin: 0 12px;
}

#about i {
  color: var(--primary-color);
}

/* End about us section */

/* Start count area  */

.countcss {
  width: 500px;
}

@media (max-width: 576px) {
  .countcss {
    width: 300px;
  }
}
/* End count area  */
