:root {
  --primary-color: #3498db;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Start Header  */

/* Start nav bar Section  */

.navbarcss {
  padding: 10px 0;
  background: #fff;
  /* box-shadow: 0 0 8px 5px rgba(160, 160, 160, 0.2); */
}

.navbtncss {
  color: var(--bs-dark);
  opacity: 0.7;
}

.navbtncss:hover {
  color: var(--primary-color);
}

.pillbtncss {
  color: var(--bs-light);
  background-color: var(--primary-color);
  opacity: 0.9;

  transition: all 0.3s;
}

.pillbtncss:hover {
  color: var(--bs-light);
  opacity: 1;
}

.active {
  color: var(--primary-color);
}

/* End nav bar Section  */

/* Start Banner Section  */

.bannercss {
  margin-top: 200px;
}

.secpillcss {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.secpillcss:hover {
  color: var(--bs-light);
  background-color: var(--primary-color);
}

.herocss {
  width: 475px;
  animation: heroimgani 3s linear infinite;
}

@keyframes heroimgani {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@media (max-width: 576px) {
  .herocss {
    width: 300px;
  }
}
/* End Banner Section  */

/* End Header  */

/* Start client Area  */

#client .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#client img {
  width: 100px;
  filter: grayscale(100%);
}

#client img:hover {
  filter: grayscale(0%);
}

@media (max-width: 576px) {
  #client img {
    width: 50px;
  }
}

/* End client Area  */

/* Start about us section */

.linecss {
  width: 60px;
  height: 2px;
  background-color: var(--primary-color);

  margin: 0 12px;
}

#about i {
  color: var(--primary-color);
}

/* End about us section */

/* Start count area  */

.countcss {
  width: 500px;
}

@media (max-width: 576px) {
  .countcss {
    width: 300px;
  }
}

.countbox {
  width: 50%;
  display: flex;

  font-family: sans-serif;
}

@media (max-width: 576px) {
  .countbox {
    width: 100%;
  }
}

.countbox i {
  color: var(--primary-color);
  font-size: 35px;
  margin-right: 10px;
}

.countbox p {
  font-size: 14px;
  letter-spacing: 1px;
}

.countbox p span {
  font-weight: 600;
}

/* End count area  */

/* Start services Section  */

.servbox {
  padding: 20px 100px 20px 20px;
  border: 1px solid var(--bs-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px 0;
  border-radius: 10px;

  position: relative;
  overflow: hidden;

  transition: all 0.3s;
}

@media (max-width: 576px) {
  .servbox {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .servbox {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .servbox {
    width: 24%;
  }
}

.servbox::before {
  content: "";
  position: absolute;
  top: -50px;
  right: -50px;
  background-color: #3498db;

  width: 100px;
  height: 100px;
  border-radius: 100px 0 0 100px;
  opacity: 0.1;

  transition: all 0.3s;
  z-index: -1;
}

.servbox:hover {
  color: #fff;
}

.servbox:hover::before {
  border-radius: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  right: 0;
}

.servbox:hover i {
  color: var(--primary-color);
  background-color: #fff;
}

.servbox i {
  width: 80px;
  height: 80px;
  font-size: 50px;
  display: grid;
  place-items: center;
  /* padding: 10px; */
  border-radius: 50px;
  color: #fff;
  background: var(--primary-color);
  transition: all 0.3s;
}

@media (max-width: 576px) {
  .servbox i {
    width: 60px;
    height: 60px;
    font-size: 40px;
  }
}

.servbox h4 {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.servbox p {
  font-size: 14px;
}

/* End services Section  */

/* Start card Area  */

.card-group {
  width: 49%;
  height: 400px;
  margin-bottom: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

@media (max-width: 576px) {
  .card-group {
    width: 100%;
  }
}

.card-group:hover .card-body {
  color: #fff;
  background-color: var(--primary-color);
}

.card-group:hover .cardbtncss {
  color: #fff;
}

.card-group .card-body {
  width: auto;
  background-color: #fff;

  bottom: 0;
  left: 0;
  margin: 20px;
  position: absolute;

  transition: all 0.3s;
}

.cardbtncss {
  font-weight: 500px;
  color: var(--bs-dark);
  text-decoration: none;
  font-size: 16px;
}

.cardbtncss:hover {
  text-decoration: underline;
}

/* End card Area  */

/* Start feature Section  */

#features .featurebox {
  padding: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

#features .featurebox i {
  font-size: 40px;
}

#features .featurebox a {
  font-weight: 500;
  color: var(--bs-dark);
}

#features .featurebox a:hover {
  color: var(--bs-primary);
}
/* End feature Section  */

/* Start testimonials section  */

.testbox {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 8px 5px rgba(160, 160, 160, 0.2);

  position: relative;
}

.testbox img {
  width: 100px;
  height: 100px;
  border: 10px solid #fff;

  top: 20px;
  left: -50px;
  position: absolute;
}

.testboxcontain {
  padding: 50px;
}

.small {
  opacity: 0.5;
}

.testbox i {
  color: lightgreen;
  opacity: 0.3;
}

.swiper {
  width: 100%;
  height: 100%;

  box-sizing: content-box;
}

@media (max-width: 576px) {
  .testbox {
    flex-direction: column;
  }
  .testbox img {
    position: initial;
  }
}

/* End testimonials section  */

/* Start team Section  */

.cardbox {
  border-radius: 0 0 5px 5px;
}

.cardbox .card-img {
  box-sizing: border-box;

  position: relative;
  z-index: 0;
}

.cardbox .card-img img {
  border-radius: 5px 5px 0 0;
}

.cardbox .socialbox {
  cursor: default;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-dark);
  background-color: #fff;
  opacity: 0;
  z-index: 1;

  transition: all 0.5s;
}

.cardbox:hover .socialbox {
  opacity: 0.9;
}

.cardbox .socialbox i {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  transition: all 0.3s;
}

.cardbox .socialbox i:hover {
  color: var(--primary-color);
}

/* End team Section  */

/* Start pricing Section  */

#pricing ul li {
  font-family: sans-serif;
}

#pricing ul li h2 {
  color: var(--primary-color);
}

#pricing section div {
  width: 30%;
  background-color: var(--bs-light);
  padding: 20px 0;
  border-radius: 10px;
}

@media (max-width: 992px) {
  #pricing section div {
    width: 100%;
  }
}

#pricing section div:nth-child(2) {
  border: 2px solid var(--primary-color);
}

/* End pricing Section  */

/* Start FAQ Section  */

#faq .row {
  border-bottom: 1px solid #eee;
}

#faq .row span {
  margin-bottom: 10px;
}

#faq .row i {
  color: var(--primary-color);
}

/* End FAQ Section  */

/* Start contact Section  */

#contact p {
  display: inline-block;
}

#contact i {
  float: left;
  line-height: 1;
  font-size: 35px;
  color: var(--primary-color);
  margin-right: 10px;
}

.contactsocialcss i {
  cursor: pointer;
}

/* Start Footer  */

#footer {
  box-shadow: 0 0 8px 5px rgba(160, 160, 160, 0.2);
}

/* End Footer  */
